@use "../themes/theme";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/// Define a cor da seleção dos elementos.
$-selection-color: white !default;
// Define a cor de fundo da seleção dos elementos.
$-selection-bg-color: var(--theme-A400, theme.get-accent-color("A400")) !default;

::selection {
  color: $-selection-color;
  background-color: $-selection-bg-color;
}

// Define a cor dos elementos de âncora.
$-a-color: var(--theme-500, theme.get-featured-color("500")) !default;
// Define a cor dos elementos de âncora com as pseudo-classes "hover" ou "active".
$-a-pseudo-color: var(--theme-300, theme.get-featured-color("300")) !default;
// Define a decoração de texto dos elementos de âncora.
$-a-text-decoration: none !default;

a {
  color: $-a-color;
  text-decoration: $-a-text-decoration;

  &:hover,
  &:active {
    color: $-a-pseudo-color;
  }
}

figure {
  margin: 0;
}

input::-ms-clear,
input[type="password"]::-ms-reveal {
  display: none;
}
