.avatar {
  display: flex;
  align-items: center;

  &--image {
    width: $avatar--image-width-and-height;
    height: $avatar--image-width-and-height;

    &:not(.avatar--image_rounded) {
      border-radius: 50%;
    }

    &_rounded {
      border-radius: $avatar--image_rounded-border-radius;
    }
  }

  &--info {
    display: inline-block;
    margin-left: $avatar--info-margin-left;
  }

  &--title,
  &--subtitle {
    margin: 0;
    font-weight: $avatar--title-and-subtitle-font-weight;
    @extend .typography-body-2;
  }

  &--title {
    color: $avatar--title-color;
  }

  &--summary {
    color: $avatar--summary-color;
  }

  &--small {
    color: inherit;
    opacity: .7;
  }
}
