.border-divider {
  display: block;
  margin: 0;
  height: 0;
  border-top: $border-divider-width $border-divider-style var(--theme-main-dividers, get-main-theme-color($prop-name: dividers));

  &_padded {
    margin: $border-divider_padded-margin;
  }
}
