@use "../helpers";
@use "../themes/theme";

.border-divider {
  /// Define a borda divisora.
  $border: 1px solid var(--theme-dividers, theme.get-main-color("dividers")) !default;

  display: block;
  margin: 0;
  height: 0;
  border-top: $border;

  &_padded {
    /// Define a margem da borda divisora acolchada.
    $margin: helpers.px-to-rem(0 16px) !default;

    margin: $margin;
  }
}
