.card {
  position: relative;
  border-radius: $card-border-radius;
  @extend .clearfix;

  &:not(&_hide-structure) {
    border: $card-border;
    border-color: $card-border-color;
    background-color: $card-background-color;
  }

  &_hide-structure {
    background-color: transparent;
    border: none;
  }

  &--content {
    margin: $card--content-margin;
    padding: $card--content-padding;

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--action {
    position: relative;
    margin: $card--action-margin;
    padding: $card--action-padding;
    @extend .clearfix;
  }
}
