.card {
  position: relative;
  border-radius: $card-border-radius;
  @extend .clearfix;

  &:not(&_hide-structure) {
    border: $card-border;
    border-color: $card-border-color;
    background-color: $card-background-color;
  }

  &_hide-structure {
    background-color: transparent;
    border: none;
  }
}
