.card {
  position: relative;
  border-radius: $card-border-radius;
  @extend .clearfix;

  &:not(&_hide-structure) {
    border: $card-border;
    border-color: $card-border-color;
    background-color: $card-background-color;
  }

  &_hide-structure {
    background-color: transparent;
    border: none;
  }

  &--header {
    margin: $card--header-margin;
    padding: $card--header-padding;

    &--title,
    &--subtitle {
      margin: 0;
    }

    &--title {
      color: var(--theme-primary, get-main-theme-color($name: "primary"));
    }

    &--subtitle {
      color: var(--theme-secondary, get-main-theme-color($name: "secondary"));
    }

    &--small {
      color: inherit;
      opacity: .7;
    }
  }

  &--media {
    position: relative;
    background: $card--media-background;
    background-size: cover;
    box-sizing: border-box;

    &::before {
      content: "";
      display: block;
    }

    &:first-child {
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
    }

    &:last-child {
      border-bottom-right-radius: inherit;
      border-bottom-left-radius: inherit;
    }

    @each $format, $value in $card-media-formats {
      &_format-#{$format} {
        padding-bottom: #{$value};
      }
    }

    &--area {
      position: absolute;
      left: 0;
      z-index: $z-index-card-media-area;
      width: 100%;

      &:not(.card--media--area_in-top) {
        bottom: 0;
      }

      &_in-top {
        top: 0;
      }
    }

    &--image {
      max-width: 100%;
      max-height: $card--media--image-max-height;
    }
  }

  &--content {
    margin: $card--content-margin;
    padding: $card--content-padding;

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--action {
    position: relative;
    margin: $card--action-margin;
    padding: $card--action-padding;
    @extend .clearfix;
  }
}
