@use "../helpers";
@use "../helpers/breakpoint";

/// Define o preenchimento dos contêineres.
$-container-padding: helpers.px-to-rem(0 15px) !default;

.container, .container-fluid {
  margin: 0 auto;
  padding: $-container-padding;
  width: 100%;
}

/// Define as larguras máxima de `.container` para os variados tamanhos de tela.
$-container-max-widths: (
  "sm": 540px,
  "md": 720px,
  "lg": 960px,
  "xl": 1140px
) !default;

@each $breakpoint, $width in $-container-max-widths {

  @include breakpoint.media-up($breakpoint) {

    .container {
      max-width: #{$width};
    }
  }
}
