.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-dialog;
  overflow-x: hidden;
  overflow-y: auto;
  transition: opacity .75s;
  opacity: 0;
  pointer-events: none;

  &_open {
    opacity: 1;
    pointer-events: auto;
  }
}
