.dropdown {
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    margin: $dropdown-pseudo-before-margin;
    width: $dropdown-pseudo-before-size;
    height: $dropdown-pseudo-before-size;
    border-bottom: $dropdown-pseudo-before-border;
    border-left: $dropdown-pseudo-before-border;
    border-color: $dropdown-pseudo-before-border-color;
    transform: $dropdown-pseudo-before-transform;
    transition: transform .3s;
  }

  &_active::before {
    transform: $dropdown_active-pseudo-before-transform;
  }
}
