@use "sass:map";
@use "../helpers";
@use "../themes/theme";
@use "../utils/typo";

.input {
  $color: var(--theme-secondary, theme.get-main-color("secondary"));

  position: relative;
  font-weight: #{map.get(typo.$weights, "medium")};
  color: #{$color};
  border-color: #{$color};

  &--field {
    padding: #{helpers.px-to-em(16px 5px 12px 0)};
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1;
    color: inherit;
    background-color: transparent;

    $focus-color: var(--theme-500, theme.get-featured-color("500"));

    &:focus {
      color: var(--theme-primary, #{theme.get-main-color("primary")});
      border-color: #{$focus-color};
      outline: 0;

      &:not(.input--field_outlined) {
        border-color: #{$focus-color};
      }

      & ~ .input--label {
        color: #{$focus-color};
        @extend .input--label_active;
      }
    }

    &:not(&_outlined) {
      $padding-left: helpers.px-to-em(5px);

      padding-left: #{$padding-left};
      border: none;
      border-bottom: #{helpers.px-to-rem(1px) solid};

      & ~ .input--label {
        left: #{helpers.px-to-em(5px)};
      }
    }

    &_outlined {
      $padding-left: helpers.px-to-em(10px);

      padding-left: #{$padding-left};
      border: 1px solid;
      border-color: inherit;
      border-radius: #{helpers.px-to-em(5px)};

      & ~ .input--label {
        left: #{helpers.px-to-em(10px)};
      }
    }
  }

  &--label {
    position: absolute;
    top: #{helpers.px-to-em(16px)};
    transition: all .3s linear;
    pointer-events: none;

    &_active {
      transform: translate(-15%, #{helpers.px-to-em(-16px)}) scale(.7);
    }
  }
}
