@use "sass:map";
@use "../helpers";
@use "../themes/palette";
@use "../themes/theme";
@use "../utils/typo";

.input {
  position: relative;

  @at-root {
    @each $theme-name, $props in theme.$input-props {

      [x-main-theme=#{$theme-name}] & {
        @each $prop, $value in $props {

          #{$prop}: #{$value};
        }
      }
    }
  }

  $colors: (
    "alert": palette.get-color("red", "500"),
    "success": palette.get-color("green", "500"),
    "warning": palette.get-color("orange", "500")
  );

  @each $name, $color in $colors {

    // Exemplo: .input_color-alert.
    &_color-#{$name} {
      color: #{$color} !important;
      border-color: #{$color} !important;
    }
  }

  &--field {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1;
    color: inherit;

    @at-root {
      @each $theme-name, $props in theme.$input-field-props {

        [x-main-theme=#{$theme-name}] & {
          @each $prop, $value in $props {

            #{$prop}: #{$value};
          }
        }
      }
    }

    $focus-color: var(--theme-500, theme.get-featured-color("500"));

    &:focus {
      color: var(--theme-primary, #{theme.get-main-color("primary")});
      border-color: #{$focus-color};
      outline: 0;

      &:not(.input--field_outlined) {
        border-color: #{$focus-color};
      }

      & ~ .input--label {
        color: #{$focus-color};
        @extend .input--label_active;
      }
    }

    &:not(&_outlined) {
      @at-root {
        @each $theme-name, $props in theme.$input-field-not-outlined-props {

          [x-main-theme=#{$theme-name}] & {
            @each $prop, $value in $props {

              #{$prop}: #{$value};

              @if $prop == "padding-left" {

                & ~ .input--label {
                  left: #{$value};
                }
              }
            }
          }
        }
      }
    }

    &_outlined {
      border-color: inherit;

      @at-root {
        @each $theme-name, $props in theme.$input-field-outlined-props {

          [x-main-theme=#{$theme-name}] & {
            @each $prop, $value in $props {

              #{$prop}: #{$value};

              @if $prop == "padding-left" {

                & ~ .input--label {
                  left: #{$value};
                }
              }
            }
          }
        }
      }
    }
  }

  &--label {
    position: absolute;
    transition: all .3s linear;
    pointer-events: none;

    @at-root {
      @each $theme-name, $props in theme.$input-label-props {

        [x-main-theme=#{$theme-name}] & {
          @each $prop, $value in $props {

            #{$prop}: #{$value};
          }
        }
      }
    }

    &_active {
      @at-root {
        @each $theme-name, $props in theme.$input-label-active-props {

          [x-main-theme=#{$theme-name}] & {
            @each $prop, $value in $props {

              #{$prop}: #{$value};
            }
          }
        }
      }
    }
  }

  &--description {
    margin: 0;
    margin-top: #{helpers.px-to-rem(14.6px)};
    font-size: #{helpers.px-to-rem(12px)};
    color: inherit;
  }
}
