.input {
  position: relative;

  &_generic,
  &:not(&_generic) {
    font-weight: $input_generic-font-weight;
    color: $input_generic-color;
    border-color: $input_generic-border-color;

    .input--field {
      padding: $input_generic--field-padding;
      font-size: inherit;
      font-weight: inherit;
      line-height: 1;
      color: inherit;
      background-color: $input_generic--field-background-color;

      &:not(.input--field_outlined) {
        border: none;
        border-bottom: $input_generic--field-border-bottom;
        border-color: inherit;
      }

      &:focus {
        color: $input_generic--field-pseudo-focus-color;
        border-color: $input_generic--field-pseudo-focus-border-color;
      }
    }

    .input--label {
      position: absolute;
      top: $input_generic--label-top;
      left: $input_generic--label-left;
      transition: all .3s linear;
      pointer-events: none;
    }
  }

  &--field {
    width: 100%;

    &:focus {
      outline: 0;

      & ~ .input--label {
        color: $input--field-label-pseudo-focus-color;
        @extend .input--label_active;
      }
    }

    &_outlined {
      border: 1px solid;
      border-color: inherit;
      border-radius: $input--field_outlined-border-radius;
    }
  }

  &--label {
    &_active {
      transform: $input--label_active-transform;
    }
  }
}
