.list {
  margin: $list-margin;
  list-style-type: none;

  &:not(.list_padded) {
    padding: $list-padding;
  }

  &_padded {
    padding: $list_padded-padding;

    .list--item {
      border-radius: $list_padded--item-border-radius;
    }
  }

  &--item {
    display: flex;
    cursor: pointer;
    padding: $list--item-padding;
    color: $list--item-color;
    transition: background-color .4s;
    align-items: center;

    &:hover {
      color: inherit;
      background-color: rgba(0, 0, 0, .04);
    }

    &:active {
      background-color: rgba(0, 0, 0, .16);
    }

    &_active {
      background-color: rgba(0, 0, 0, .03);
    }

    &--icon {
      margin-right: $list--icon-margin-right;
      margin-left: $list--icon-margin-left;
    }
  }
}
