.menu {
  position: absolute;
  z-index: $z-index-menu;
  margin: $menu-margin;
  min-width: $menu-min-width;
  max-width: $menu-max-width;
  max-height: $menu-max-height;
  background-color: $menu-background-color;
  border-radius: $menu-border-radius;
  box-shadow: $menu-box-shadow;
  transform: scale(0);
  transition: .3s;
  opacity: 0;
  will-change: transform, opacity;

  &_open {
    transform: scale(1);
    opacity: 1;
  }

  &_origin-top-right,
  &_origin-top-start {
    transform-origin: top right;
  }

  &_origin-top-left,
  &_origin-top-end {
    transform-origin: top left;
  }

  &_origin-bottom-right,
  &_origin-bottom-start {
    transform-origin: bottom right;
  }

  &_origin-bottom-left,
  &_origin-bottom-end {
    transform-origin: bottom left;
  }
}
