.typo-use-roboto, .typo-use-default {
  font-family: "Roboto", sans-serif;
}

@each $typo, $prop in $typographies {

  // .typo-*
  //
  // Exemplo: .typo-h1
  .typo-#{$typo} {
    @each $property, $value in $prop {
      #{$property}: #{$value};
    }
  }

}

.typo-h1,
.typo-h2 {
  font-weight: map-get($map: $typography-font-weights, $key: light);
}

.typo-h3,
.typo-h4,
.typo-h5,
.typo-subtitle-1,
.typo-body-1,
.typo-body-2,
.typo-caption-1 {
  font-weight: map-get($map: $typography-font-weights, $key: regular);
}

.typo-h6,
.typo-subtitle-2,
.typo-caption-2 {
  font-weight: map-get($map: $typography-font-weights, $key: medium);
}
