.typography-use-roboto, .typography-use-default {
  font-family: "Roboto", sans-serif;
}

@each $typography, $properties in $typographies {

  // .typography-*
  //
  // Exemplo: .typography-headline-1
  .typography-#{$typography} {
    @each $property, $value in $properties {
      #{$property}: #{$value};
    }
  }

}

.typography-headline-1,
.typography-headline-2 {
  font-weight: map-get($map: $typography-font-weights, $key: light);
}

.typography-headline-3,
.typography-headline-4,
.typography-headline-5,
.typography-subtitle-1,
.typography-body-1,
.typography-body-2,
.typography-caption-1 {
  font-weight: map-get($map: $typography-font-weights, $key: regular);
}

.typography-headline-6,
.typography-subtitle-2,
.typography-caption-2 {
  font-weight: map-get($map: $typography-font-weights, $key: medium);
}
