@each $name, $value in $borders {
  @each $position in ("" top right bottom left) {
    $infix: if($position == "", "", "-#{$position}");

    // .border-*-*
    //
    // Exemplo: .border-top-0
    .border#{$infix}-#{$name} {
      border#{$infix}-width: #{$value} !important;
      border#{$infix}-style: solid;
    }

    @if ($name != 0) {
      .border#{$infix}-#{$name} {
        @extend %border-color;
      }
    }

  }
}

@each $name, $value in $borders-radius {
  .border-radius-#{$name} {
    border-radius: #{$value} !important;
  }
}

@each $y in (top bottom) {
  @each $x in (right left) {

    // .border-radius-*-0, .border-radius-*-*-0
    //
    // Exemplo: .border-radius-top-0, .border-radius-top-right-0
    .border-radius-#{$y}-0,
    .border-radius-#{$y}-#{$x}-0 {
      border-#{$y}-#{$x}-radius: 0 !important;
    }

  }
}

.border-radius-0 {
  border-radius: 0 !important;
}
