.border-0 {
  border: 0 !important;
}

@each $position in (top right bottom left) {
  .border-#{$position}-0 {
    border-#{$position}: 0 !important;
  }
}

.border-divider {
  margin: 0;
  height: 0;
  border-top: $border-divider-width $border-divider-style var(--theme-main-dividers, get-main-theme-color($prop-name: dividers));

  &_padded {
    margin: $border-divider-padded-margin;
  }
}

.border-radius-0 {
  border-radius: 0 !important;
}

@each $y in (top bottom) {
  @each $x in (right left) {

    // .border-radius-*-0, .border-radius-*-*-0
    //
    // Exemplo: .border-radius-top-0, .border-radius-top-right-0
    .border-radius-#{$y}-0,
    .border-radius-#{$y}-#{$x}-0 {
      border-#{$y}-#{$x}-radius: 0 !important;
    }

  }
}

@each $name, $value in $borders-radius {
  .border-radius-#{$name} {
    border-radius: #{$value} !important;
  }
}
