@use "../helpers/breakpoint";

@each $breakpoint in map-keys($map: breakpoint.$media) {
  $infix: breakpoint.media-infix($breakpoint: $breakpoint);

  @for $i from 1 through $flex-columns {

    // .flex-col-**
    //
    // Exemplo: .flex-col-1
    //          .flex-col-1___small
    .flex-col-#{$i}#{$infix} {
      @extend %flex-column;
    }

  }

  @include breakpoint.media-up($breakpoint: $breakpoint) {

    // .flex-col-auto*
    //
    // Exemplo: .flex-col-auto
    //          .flex-col-auto___small
    .flex-col-auto#{$infix} {
      width: auto;
      max-width: none;
      flex: 0 0 auto;
    }

    @for $i from 0 through $flex-columns {
      @if ($i > 0) {
        $base-width: $i * $flex-base-column-width;

        // .flex-col-**
        //
        // Exemplo: .flex-col-1
        //          .flex-col-1___small
        .flex-col-#{$i}#{$infix} {
          max-width: #{$base-width};
          flex: 0 0 #{$base-width};
        }

        @if ($i < $flex-columns) {

          // .flex-offset-**
          //
          // Exemplo: .flex-offset-1
          //          .flex-offset-1___small
          .flex-offset-#{$i}#{$infix} {
            margin-left: #{$base-width};
          }

        }
      }

      // .flex-order-**
      //
      // Exemplo: .flex-order-0
      //          .flex-order-0___small
      .flex-order-#{$i}#{$infix} {
        order: #{$i};
      }

    }
  }
}

@each $breakpoint in map-keys($map: breakpoint.$media) {
  @include breakpoint.media-up($breakpoint: $breakpoint) {
    $infix: breakpoint.media-infix($breakpoint: $breakpoint);

    @each $direction in (row column row-reverse column-reverse) {

      // .flex-direction-**
      //
      // Exemplo: .flex-direction-row
      //          .flex-direction-row___small
      .flex-direction-#{$direction}#{$infix} {
        flex-direction: #{$direction};
      }

    }

    @each $name, $justify in (start: flex-start, end: flex-end, center: center, space-around: space-around, space-between: space-between) {

      // .flex-justify-content-**
      //
      // Exemplo: .flex-justify-content-start
      //          .flex-justify-content-start___small
      .flex-justify-content-#{$name}#{$infix} {
        justify-content: #{$justify};
      }

    }

    @each $name, $align in (start: flex-start, end: flex-end, center: center, stretch: stretch, baseline: baseline) {

      // .flex-align-items-**
      //
      // Exemplo: .flex-align-items-start
      //          .flex-align-items-start___small
      .flex-align-items-#{$name}#{$infix} {
        align-items: #{$align};
      }

    }
  }
}
