.typo-style-italic {
  font-style: italic !important;
}


@each $overflow in (clip ellipsis) {
  .typo-overflow-#{$overflow} {
    white-space: nowrap;
    text-overflow: #{$overflow};
    overflow: hidden;
  }
}

@each $transform in (upper lower capitalize) {
  .typo-to-#{$transform} {
    text-transform: #{$transform} !important;
  }
}

@each $style, $weight in $typography-font-weights {
  .typo-weight-#{$style} {
    font-weight: #{$weight} !important;
  }
}

@each $breakpoint in map-keys($map: $media-breakpoints) {
  $infix: media-breakpoint-infix($breakpoint: $breakpoint);

  @include media-breakpoint-up($breakpoint: $breakpoint) {
    @each $align in (left right center justify) {
      @if ($align != justify or $align == justify and $infix == "") {

        // .typo-align-**
        //
        // Exemplo: .typo-align-left
        //          .typo-align-left___small
        .typo-align-#{$align}#{$infix} {
          text-align: #{$align} !important;
        }

      }
    }
  }
}
