@use "sass:map";
@use "./maps" as font;

/// Define o caminho ou endereço URL das fontes.
$-path: "../fonts";
/// Define o intervalo Unicode da fonte Roboto.
$-unicode-range: "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD";

@each $name, $map in font.$map {

  @each $weight, $styles in $map {

    @each $style, $props in $styles {

      $local-1: map.get($props, "local-1");
      $local-2: map.get($props, "local-2");
      $url: map.get($props, "url");

      @font-face {
        font-family: "#{$name}";
        font-style: #{$style};
        font-weight: #{$weight};

        @if $local-1 != null and $local-2 != null {

          src: local("#{$local-1}"),
            local("#{$local-2}"),
            url("#{$-path}/#{$url}") format("woff2");
        } @else if $local-1 != null {

          src: local("#{$local-1}"),
            url("#{$-path}/#{$url}") format("woff2");
        } @else {

          src: url("#{$-path}/#{$url}") format("woff2");
        }

        @if $name == "Roboto" {

          unicode-range: #{$-unicode-range};
        }
      }
    }
  }
}
