@use "../palette";
@use "./variables" as theme-var;

/// Define os temas principais.
$main: (
  "light": (
    "primary": rgba(0, 0, 0, .87),
    "secondary": rgba(0, 0, 0, .54),
    "hint": rgba(0, 0, 0, .38),
    "disabled": rgba(0, 0, 0, .38),
    "dividers": rgba(0, 0, 0, .12),
    "foreground": palette.get-color("grey", "50"),
    "background": palette.get-color("grey", "50"),
    "card": white
  ),

  "dark": (
    "primary": white,
    "secondary": rgba(255, 255, 255, .7),
    "hint": rgba(255, 255, 255, .5),
    "disabled": rgba(255, 255, 255, .5),
    "dividers": rgba(255, 255, 255, .06),
    "foreground": #131313,
    "background": #131313,
    "card": #191919
  ),

  "game": (
    "primary": white,
    "secondary": #9da3ac,
    "hint": rgba(255, 255, 255, 0.5),
    "disabled": rgba(255, 255, 255, 0.5),
    "dividers": #768ba3,
    "foreground": #28416f,
    "background": #101922,
    "card": #1c2734
  ),

  "play": (
    "primary": white,
    "secondary": rgba(255, 255, 255, 0.7),
    "hint": rgba(255, 255, 255, 0.5),
    "disabled": rgba(255, 255, 255, 0.5),
    "dividers": #32343C,
    "foreground": #1F2128,
    "background": #1F2128,
    "card": #242731
  )
) !default;

/// Define as propriedades para `btn`.
$btn-props: (
  "main": (
    "background-color": var(--theme-500, palette.get-color(theme-var.$featured-default, "500"))
  ),

  "dark": (
    "background-color": var(--theme-500, palette.get-color(theme-var.$featured-default, "500"))
  ),

  "game": (
    "background-color": var(--theme-800, palette.get-color(theme-var.$featured-default, "800"))
  ),

  "play": (
    "background-color": var(--theme-500, palette.get-color(theme-var.$featured-default, "500"))
  )
) !default;

/// Define as cores de fundo da barra de ferramentas, com variante "dark-color" de acordo com o tema.
$toolbar-dark-colors: (
  "main": (
    "light": #212121,
    "dark": #212121,
    "game": #202936,
    "play": #242731
  )
) !default;
