/// Define o tema de realçe padrão.
$accent-default: "pink" !default;
/// Define o tema de destaque padrão.
$featured-default: "purple" !default;
/// Define o tema principal padrão.
$main-default: "light" !default;
