@use "sass:map";
@use "../../helpers";

/// Define as espessuras de tipografia.
$weights: (
  "thin": 100,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "black": 900
) !default;

/// Define as tipografias e suas propriedades.
$map: (
  "h1": (
    "font-size": helpers.px-to-rem(96px),
    "line-height": 1
  ),
  "h2": (
    "font-size": helpers.px-to-rem(60px),
    "line-height": 1
  ),
  "h3": (
    "font-size": helpers.px-to-rem(48px),
    "line-height": helpers.px-to-rem(50px)
  ),
  "h4": (
    "font-size": helpers.px-to-rem(34px),
    "line-height": helpers.px-to-rem(40px)
  ),
  "h5": (
    "font-size": helpers.px-to-rem(24px),
    "line-height": helpers.px-to-rem(32px)
  ),
  "h6": (
    "font-size": helpers.px-to-rem(20px),
    "line-height": 1.6
  ),
  "subtitle-1": (
    "font-size": helpers.px-to-rem(18px),
    "line-height": helpers.px-to-rem(30px)
  ),
  "subtitle-2": (
    "font-size": helpers.px-to-rem(15px),
    "line-height": helpers.px-to-rem(26px)
  ),
  "body-1": (
    "font-size": helpers.px-to-rem(16px),
    "line-height": 1.5
  ),
  "body-2": (
    "font-size": helpers.px-to-rem(14px),
    "line-height": helpers.px-to-rem(24px)
  ),
  "caption-1": (
    "font-size": helpers.px-to-rem(13px),
    "line-height": helpers.px-to-rem(22px)
  ),
  "caption-2": (
    "font-size": helpers.px-to-rem(12px),
    "line-height": helpers.px-to-rem(20px)
  )
) !default;

/// Define as tipografias para fontes e suas propriedades.
$map-typo: (
  "roboto": (
    "h1": (
      "font-weight": map.get($weights, "light"),
      "letter-spacing": helpers.px-to-em(-.24992px)
    ),
    "h2": (
      "font-weight": map.get($weights, "light"),
      "letter-spacing": helpers.px-to-em(-.13328px)
    ),
    "h3": (
      "font-weight": map.get($weights, "regular"),
      "letter-spacing": normal
    ),
    "h4": (
      "font-weight": map.get($weights, "regular"),
      "letter-spacing": helpers.px-to-em(.1176px)
    ),
    "h5": (
      "font-weight": map.get($weights, "regular"),
      "letter-spacing": normal
    ),
    "h6": (
      "font-weight": map.get($weights, "medium"),
      "letter-spacing": helpers.px-to-em(.2px)
    ),
    "subtitle-1": (
      "font-weight": map.get($weights, "regular"),
      "letter-spacing": helpers.px-to-em(.14992px)
    ),
    "subtitle-2": (
      "font-weight": map.get($weights, "medium"),
      "letter-spacing": helpers.px-to-em(.11424px)
    ),
    "body-1": (
      "font-weight": map.get($weights, "regular"),
      "letter-spacing": helpers.px-to-em(.5px)
    ),
    "body-2": (
      "font-weight": map.get($weights, "regular"),
      "letter-spacing": helpers.px-to-em(.28576px)
    ),
    "caption-1": (
      "font-weight": map.get($weights, "regular"),
      "letter-spacing": helpers.px-to-em(.53328px)
    ),
    "caption-2": (
      "font-weight": map.get($weights, "medium"),
      "letter-spacing": helpers.px-to-em(.53328px)
    )
  ),

  "bebas-neue": (
    "h1": (
      "font-weight": map.get($weights, "bold"),
      "letter-spacing": normal
    ),
    "h2": (
      "font-weight": map.get($weights, "bold"),
      "letter-spacing": normal
    ),
    "h3": (
      "font-weight": map.get($weights, "bold"),
      "letter-spacing": normal
    ),
    "h4": (
      "font-weight": map.get($weights, "bold"),
      "letter-spacing": normal
    ),
    "h5": (
      "font-weight": map.get($weights, "bold"),
      "letter-spacing": normal
    ),
    "h6": (
      "font-weight": map.get($weights, "bold"),
      "letter-spacing": helpers.px-to-em(.96px)
    ),
    "subtitle-1": (
      "font-weight": map.get($weights, "regular"),
      "letter-spacing": helpers.px-to-em(.96px)
    ),
    "subtitle-2": (
      "font-weight": map.get($weights, "regular"),
      "letter-spacing": helpers.px-to-em(.96px)
    ),
    "body-1": (
      "font-weight": map.get($weights, "regular"),
      "letter-spacing": helpers.px-to-em(.96px)
    ),
    "body-2": (
      "font-weight": map.get($weights, "regular"),
      "letter-spacing": helpers.px-to-em(.96px)
    ),
    "caption-1": (
      "font-weight": map.get($weights, "regular"),
      "letter-spacing": helpers.px-to-em(.96px)
    ),
    "caption-2": (
      "font-weight": map.get($weights, "regular"),
      "letter-spacing": helpers.px-to-em(.96px)
    )
  )
) !default;
