@use "../font/maps" as font;
@use "../../themes/theme";

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  color: var(--theme-primary, theme.get-main-color("primary"));

  &--item {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: inherit;
    transition: opacity .2s;

    @each $font-name, $props in font.$navbar-item-props {

      .typo-use-#{$font-name} &,
      &.typo-use-#{$font-name} {
        @each $prop, $value in $props {

          #{$prop}: #{$value};
        }
      }
    }

    &:hover {
      color: inherit;
      opacity: .7;
    }

    &:hover,
    &_active {
      border-bottom: 2px solid;
    }

    &_active,
    &_active:hover {
      color: var(--theme-500, theme.get-featured-color("500"));
    }
  }
}
