@use "./palette";
@use "sass:map";

/// Define uma lista com os nomes das cores da paleta.
$-colors-name: palette.get-colors-name() !default;
/// Define a tonalidade das cores da paleta.
$-colors-hue: "500" !default;
/// Define os prefixos e parâmetros das cores.
$-prefixes-and-params: (
  "fg": "color",
  "bg": "background"
) !default;

@each $color-name in $-colors-name {

  $color-hex: palette.get-color($color-name, $-colors-hue);

  @each $prefix, $param in $-prefixes-and-params {

    // Exemplo: .fg-red
    .#{$prefix}-#{$color-name} {
      #{$param}: #{$color-hex} !important;
    }
  }
}
