/// Obtém o código hexadecimal da cor informada com base na sua tonalidade na paleta.
@function get-palette-color($name, $hue) {

  $has-color: map-has-key($palette, $name);

  @if $has-color == false {

    @error "Não foi possível encontrar a cor '#{$name}' na paleta.";
  }

  $hues: map-get($palette, $name);
  $has-hue: map-has-key($hues, $hue);

  @if $has-hue == false {

    @error "Não foi possível encontrar a tonalidade '#{$hue}' na cor '#{$name}' da paleta.";
  }

  $hex: map-get($hues, $hue);

  @return $hex;
}

// Obtém o código hexadecimal da cor do tema principal com base no nome da propriedade.
@function get-main-theme-color($name) {

  $has-theme: map-has-key($main-themes, $main-theme-default);

  @if $has-theme == false {

    @error "Não foi possível encontrar o tema principal '#{$main-theme-default}'.";
  }

  $theme: map-get($main-themes, $main-theme-default);
  $has-prop: map-has-key($theme, $name);

  @if $has-prop == false {

    @error "Não foi possível encontrar a propriedade com o nome '#{$name}' no tema principal '#{$main-theme-default}'.";
  }

  $prop: map-get($theme, $name);

  @return $prop;
}

// Obtém um sinalizador indicando se a tonalidade pertence a cores de realçe.
@function is-accent-color-hue($hue) {

  $has-hue: list-has-value($accent-color-hues, $hue);

  @return $has-hue;
}

// Obtém um sinalizador indicando se a lista contém o valor informado.
@function list-has-value($list, $value) {

  @each $val in $list {

    @if ($val == $value) {

      @return true;
    }
  }

  @return false;
}

/// Obtém um mapa com as chaves fornecidas.
@function get-in-map($map, $keys...) {

  $new-map: ();

  @each $key in $keys {

    $val: map-get($map, $key);

    @if ($val != null) {

      $new-map: map-merge($new-map, (#{$key}: $val));
    }
  }

  @return $new-map;
}
