// Borda

// Define os raios de borda de `.border-radius-*`.
$borders-radius: (
  circle: 50%,
  small: px-to-rem($list: 2px),
  medium: px-to-rem($list: 5px),
  large: px-to-rem($list: 8px)
) !default;

// Botão

// Define o tamanho das fontes dos botões.
$button-font-sizes: (
  xsmall: px-to-rem($list: 10px),
  small: px-to-rem($list: 12px),
  medium: px-to-rem($list: 14px),
  large: px-to-rem($list: 16px),
  xlarge: px-to-rem($list: 19.2px)
) !default;

// Contêiner

// Define a largura máxima de `.container` para diferentes tamanhos de tela.
$container-max-widths: (
  small: 540px,
  medium: 720px,
  large: 960px,
  xlarge: 1140px
) !default;

// Dimensionamento

// Define os tamanhos de dimensionamentos usado nas classes utilitárias de dimensionamento.
$sizing-sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
) !default;

// Espaçamento

// Define os tamanhos de espaçamento usado nas classes utilitárias de espaçamento.
$spacings: (
  0: 0,
  xsmall: px-to-rem($list: 4px),
  small: px-to-rem($list: 8px),
  medium: px-to-rem($list: 16px),
  large: px-to-rem($list: 24px),
  xlarge: px-to-rem($list: 48px),
  auto: auto
) !default;

// Media

// Define os pontos de interrupção da "media".
$media-breakpoints: (
  xsmall: 0,
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px
) !default;

// Temas

// Define as propriedades dos temas principais.
$themes-main-properties: (
  light: (
    primary: rgba(0, 0, 0, .87),
    secondary: rgba(0, 0, 0, .54),
    hint: rgba(0, 0, 0, .38),
    disabled: rgba(0, 0, 0, .38),
    dividers: rgba(0, 0, 0, .12),
    background: get-palette-color($color-name: grey, $color-hue: 50),
    card: white
  ),
  dark: (
    primary: white,
    secondary: rgba(255, 255, 255, .7),
    hint: rgba(255, 255, 255, .5),
    disabled: rgba(255, 255, 255, .5),
    dividers: rgba(255, 255, 255, .06),
    background: #131313,
    card: #191919
  )
) !default;

// Temas e cores

// Define os prefixos e parâmetros das classes dos temas e cores.
$themes-colors-prefixes-and-params: (
  fg: color,
  bg: background,
  bd: border-color
) !default;

// Define as pseudo-classes, pseudo-elementos e seus delimitadores usados nos temas e cores.
$themes-colors-pseuds-and-delimiters: (
  hover: ":",
  active: ":",
  focus: ":",
  before: "::",
  after: "::"
) !default;

// Tipografia

// Define as tipografias e suas propriedades.
$typographies: (
  headline1: (
    font-size: px-to-rem($list: 96px),
    letter-spacing: px-to-em($list: -.24992px),
    line-height: 1
  ),
  headline2: (
    font-size: px-to-rem($list: 60px),
    letter-spacing: px-to-em($list: -.13328px),
    line-height: 1
  ),
  headline3: (
    font-size: px-to-rem($list: 48px),
    letter-spacing: normal,
    line-height: px-to-rem($list: 50px)
  ),
  headline4: (
    font-size: px-to-rem($list: 34px),
    letter-spacing: px-to-em($list: .1176px),
    line-height: px-to-rem($list: 40px)
  ),
  headline5: (
    font-size: px-to-rem($list: 24px),
    letter-spacing: normal,
    line-height: px-to-rem($list: 32px)
  ),
  headline6: (
    font-size: px-to-rem($list: 20px),
    letter-spacing: px-to-em($list: .2px),
    line-height: 1.6
  ),
  subtitle1: (
    font-size: px-to-rem($list: 18px),
    letter-spacing: px-to-em($list: .14992px),
    line-height: px-to-rem($list: 30px)
  ),
  subtitle2: (
    font-size: px-to-rem($list: 15px),
    letter-spacing: px-to-em($list: .11424px),
    line-height: px-to-rem($list: 26px)
  ),
  body1: (
    font-size: px-to-rem($list: 16px),
    letter-spacing: px-to-em($list: .5px),
    line-height: 1.5
  ),
  body2: (
    font-size: px-to-rem($list: 14px),
    letter-spacing: px-to-em($list: .28576px),
    line-height: px-to-rem($list: 24px)
  ),
  caption1: (
    font-size: px-to-rem($list: 13px),
    letter-spacing: px-to-em($list: .53328px),
    line-height: px-to-rem($list: 22px)
  ),
  caption2: (
    font-size: px-to-rem($list: 12px),
    letter-spacing: px-to-em($list: .53328px),
    line-height: px-to-rem($list: 20px)
  )
) !default;

// Define as espessuras de fonte de `.typography-weight-*`.
$typography-font-weights: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
) !default;
