@use './utils/typo';

// Borda

// Define o tamanho das bordas de `.border-*`.
$borders: (
  "sm": 1px,
  "md": 2px,
  "lg": 3px,
  "0": 0,
) !default;

// Define os raios de borda de `.border-radius-*`.
$borders-radius: (
  "circle": 50%,
  "sm": px-to-rem($list: 2px),
  "md": px-to-rem($list: 5px),
  "lg": px-to-rem($list: 8px),
  "xl": px-to-rem($list: 30px),
  "xl-2": px-to-rem($list: 54px)
) !default;

// Botão

// Define o tamanho das fontes dos botões.
$button-font-sizes: (
  xs: px-to-rem($list: 10px),
  sm: px-to-rem($list: 12px),
  md: px-to-rem($list: 14px),
  lg: px-to-rem($list: 16px),
  xl: px-to-rem($list: 19.2px)
) !default;

// Cartão

// Define o tamanho dos formatos de mídia disponíveis para cartão.
$card-media-formats: (
  // 16:9
  "hd": 56.25%,
  // 6:4
  "6-4": 66.66%,
  // 4:3
  "sd": 75%,
  // 1:1
  "square": 100%
) !default;

// Dimensionamento

// Define os tamanhos de dimensionamentos usado nas classes utilitárias de dimensionamento.
$sizing-sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
) !default;

// Espaçamento

// Define os tamanhos de espaçamento usado nas classes utilitárias de espaçamento.
$spacings: (
  0: 0,
  xs: px-to-rem($list: 4px),
  sm: px-to-rem($list: 8px),
  md: px-to-rem($list: 16px),
  lg: px-to-rem($list: 24px),
  xl: px-to-rem($list: 48px),
  auto: auto,
  init: initial
) !default;

$typography-font-weights: typo.$weights;
