// Borda

// Define o tamanho das bordas de `.border-*`.
$borders: (
  0: 0,
  small: 1px,
  medium: 2px,
  large: 3px
) !default;

// Define os raios de borda de `.border-radius-*`.
$borders-radius: (
  circle: 50%,
  small: px-to-rem($list: 2px),
  medium: px-to-rem($list: 5px),
  large: px-to-rem($list: 8px)
) !default;

// Botão

// Define o tamanho das fontes dos botões.
$button-font-sizes: (
  xs: px-to-rem($list: 10px),
  sm: px-to-rem($list: 12px),
  md: px-to-rem($list: 14px),
  lg: px-to-rem($list: 16px),
  xl: px-to-rem($list: 19.2px)
) !default;

// Cartão

// Define o tamanho dos formatos de mídia disponíveis para cartão.
$card-media-formats: (
  // 16:9
  hd: 56.25%,
  // 4:3
  sd: 75%,
  // 1:1
  square: 100%
) !default;

// Contêiner

// Define a largura máxima de `.container` para diferentes tamanhos de tela.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// Dimensionamento

// Define os tamanhos de dimensionamentos usado nas classes utilitárias de dimensionamento.
$sizing-sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
) !default;

// Espaçamento

// Define os tamanhos de espaçamento usado nas classes utilitárias de espaçamento.
$spacings: (
  0: 0,
  xs: px-to-rem($list: 4px),
  sm: px-to-rem($list: 8px),
  md: px-to-rem($list: 16px),
  lg: px-to-rem($list: 24px),
  xl: px-to-rem($list: 48px),
  auto: auto
) !default;

// Media

// Define os pontos de interrupção da "media".
$media-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Tipografia

// Define as tipografias e suas propriedades.
$typographies: (
  h1: (
    font-size: px-to-rem($list: 96px),
    letter-spacing: px-to-em($list: -.24992px),
    line-height: 1
  ),
  h2: (
    font-size: px-to-rem($list: 60px),
    letter-spacing: px-to-em($list: -.13328px),
    line-height: 1
  ),
  h3: (
    font-size: px-to-rem($list: 48px),
    letter-spacing: normal,
    line-height: px-to-rem($list: 50px)
  ),
  h4: (
    font-size: px-to-rem($list: 34px),
    letter-spacing: px-to-em($list: .1176px),
    line-height: px-to-rem($list: 40px)
  ),
  h5: (
    font-size: px-to-rem($list: 24px),
    letter-spacing: normal,
    line-height: px-to-rem($list: 32px)
  ),
  h6: (
    font-size: px-to-rem($list: 20px),
    letter-spacing: px-to-em($list: .2px),
    line-height: 1.6
  ),
  subtitle-1: (
    font-size: px-to-rem($list: 18px),
    letter-spacing: px-to-em($list: .14992px),
    line-height: px-to-rem($list: 30px)
  ),
  subtitle-2: (
    font-size: px-to-rem($list: 15px),
    letter-spacing: px-to-em($list: .11424px),
    line-height: px-to-rem($list: 26px)
  ),
  body-1: (
    font-size: px-to-rem($list: 16px),
    letter-spacing: px-to-em($list: .5px),
    line-height: 1.5
  ),
  body-2: (
    font-size: px-to-rem($list: 14px),
    letter-spacing: px-to-em($list: .28576px),
    line-height: px-to-rem($list: 24px)
  ),
  caption-1: (
    font-size: px-to-rem($list: 13px),
    letter-spacing: px-to-em($list: .53328px),
    line-height: px-to-rem($list: 22px)
  ),
  caption-2: (
    font-size: px-to-rem($list: 12px),
    letter-spacing: px-to-em($list: .53328px),
    line-height: px-to-rem($list: 20px)
  )
) !default;

// Define as espessuras de fonte de `.typo-weight-*`.
$typography-font-weights: (
  "thin": 100,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "black": 900
) !default;
