// Tipografia

// Define o tamanho da fonte da tipografia.
//
// Esta variável vem primeiro para o uso das funções 'px-to-rem' e 'px-to-em'.
$typography-font-size: 16px !default;

// Contêiner

// Define o preenchimento dos contêineres.
$container-padding: px-to-rem($list: 0 15px) !default;

// Tema

// Define o tema principal padrão, com base no mapa `$themes-main-properties`.
$theme-main-default: light !default;
// Define a cor padrão do tema destaque, com base no mapa da paleta `$palette`.
$theme-featured-default-color: purple !default;
// Define a cor padrão do tema de realçe, com base no mapa da paleta `$palette`.
$theme-accent-default-color: light-blue !default;
