// Tipografia

// Define o tamanho da fonte da tipografia.
//
// Esta variável vem primeiro para o uso das funções 'px-to-rem' e 'px-to-em'.
$typography-font-size: 16px !default;

// Borda

// Define a margem da borda divisora acolchada.
$border-divider-padded-margin: px-to-rem($list: 0 16px) !default;
// Define a largura da borda divisora.
$border-divider-width: 1px !default;
// Define o estilo da borda divisora.
$border-divider-style: solid !default;

// Contêiner

// Define o preenchimento dos contêineres.
$container-padding: px-to-rem($list: 0 15px) !default;

// Flexbox

// Define o preenchimento de uma coluna do flexbox.
$flex-column-padding: px-to-rem($list: 0 15px) !default;
// Define o número máximo de colunas do flexbox.
$flex-columns: 12 !default;
// Define a margem das linhas do flexbox.
$flex-row-margin: px-to-rem($list: 0 -15px) !default;

// Define a largura base da coluna do flexbox.
$flex-base-column-width: 0% + 100 / $flex-columns !default;

// Tema

// Define o tema principal padrão, com base no mapa `$themes-main-properties`.
$theme-main-default: light !default;
// Define a cor padrão do tema destaque, com base no mapa da paleta `$palette`.
$theme-featured-default-color: purple !default;
// Define a cor padrão do tema de realçe, com base no mapa da paleta `$palette`.
$theme-accent-default-color: light-blue !default;
