// Tema
//
// As variáveis de tema vêm primeiro para uso das funções de tema.

// Define o tema principal padrão, com base no mapa `$themes-main-properties`.
$theme-main-default: light !default;
// Define a cor padrão do tema destaque, com base no mapa da paleta `$palette`.
$theme-featured-default-color: purple !default;
// Define a cor padrão do tema de realçe, com base no mapa da paleta `$palette`.
$theme-accent-default-color: light-blue !default;

// Avatar

// Define a largura e altura da imagem do avatar.
$avatar--image-width-and-height: px-to-rem($list: 45px) !default;

// Deifne o raio de borda da imagem do avatar.
$avatar--image_rounded-border-radius: px-to-rem($list: 8px) !default;

// Define a margem esquerda das informações do avatar.
$avatar--info-margin-left: px-to-rem($list: 12px) !default;

// Define a espessura da fonte do título e subtítulo do avatar.
$avatar--title-and-subtitle-font-weight: map-get($map: $typography-font-weights, $key: medium) !default;

// Define a cor do título do avatar.
$avatar--title-color: var(--theme-main-primary, get-main-theme-color($prop-name: primary)) !default;

// Define a cor do sumário do avatar.
$avatar--summary-color: var(--theme-main-secondary, get-main-theme-color($prop-name: secondary)) !default;

// Barra de ferramentas

// Define a cor de fundo da barra de ferramentas.
$toolbar-background-color: var(--theme-color-700, get-featured-theme-color($hue: 700)) !default;
// Define a cor da fonte da barra de ferramentas.
$toolbar-color: white !default;
// Define o tamanho da fonte da barra de ferramentas.
$toolbar-font-size: px-to-rem($list: 16px) !default;
// Define a espessura da fonte da barra de ferramentas.
$toolbar-font-weight: map-get($map: $typography-font-weights, $key: medium) !default;
// Define o preenchimento da barra de ferramentas.
$toolbar-padding: px-to-rem($list: 0 8px) !default;

// Define a cor de fundo da barra de ferramenta, com variante "dark-color".
$toolbar_dark-color-background-color: #212121 !default;

// Define o espaçamento do elemento de navegação da barra de navegação.
$toolbar--nav-padding: px-to-em($list: 9.14px 0) !default;

// Define a cor de fundo de um item de navegação, com variante "active", da barra de ferramentas.
$toolbar--nav--item-active-bg-color: rgba(255, 255, 255, .07) !default;
// Define a cor de fundo da pseudo-classe "hover" de um item de navegação da barra de ferramentas.
$toolbar--nav--item-bg-color-pseudo-hover: rgba(255, 255, 255, .12) !default;
// Define a cor de fundo da pseudo-classe "active" de um item de navegação da barra de ferramentas.
$toolbar--nav--item-bg-color-pseudo-active: rgba(255, 255, 255, .36) !default;
// Define a cor de fundo da pseudo-focus "hover" de um item de navegação da barra de ferramentas.
$toolbar--nav--item-bg-color-pseudo-focus: rgba(255, 255, 255, .18) !default;
// Define o tamanho do raio de borda de um item de navegação da barra de ferramentas.
$toolbar--nav--item-border-radius: px-to-rem($list: 4px) !default;
// Define a borda de um item de navegação, com variante "bordered", da barra de ferramentas.
$toolbar--nav--item-bordered-border: 1px solid rgba(255, 255, 255, .5) !default;
// Define a cor de fundo de um item de navegação, com variante "dark", da barra de ferramentas.
$toolbar--nav--item-dark-bg-color: rgba(0, 0, 0, .3) !default;
// Define a margem de um item de navegação da barra de ferramentas.
$toolbar--nav--item-margin: px-to-em($list: 0 2px) !default;
// Define o preenchimento de um item de navegação da barra de ferramentas.
$toolbar--nav--item-padding: px-to-em($list: 18.288px) !default;

// Define a margem direita dos ícones de um item de navegação da barra de ferramentas.
$toolbar--nav--item--icon-margin-right: px-to-em($list: 4.15px) !default;
// Define a margem esquerda dos ícones de um item de navegação da barra de ferramentas.
$toolbar--nav--item--icon-margin-left: px-to-em($list: -2.58px) !default;

// Borda

// Define a largura da borda divisora.
$border-divider-width: 1px !default;
// Define o estilo da borda divisora.
$border-divider-style: solid !default;

// Define a margem da borda divisora acolchada.
$border-divider_padded-margin: px-to-rem($list: 0 16px) !default;

// Botão

// Define a borda dos botões.
$button-border: none !default;
// Define o tamanho do raio de borda dos botões.
$button-border-radius: px-to-rem($list: 4px) !default;
// Define o tamanho da fonte dos botões.
$button-font-size: map-get($map: $button-font-sizes, $key: medium) !default;
// Define a espessura da fonte dos botões.
$button-font-weight: map-get($map: $typography-font-weights, $key: medium) !default;
// Define a altura dos botões.
$button-height: px-to-em($list: 41.15px) !default;
// Define o espaçamento entre letras dos botões.
$button-letter-spacing: px-to-em($list: .32px) !default;
// Define o espaçamento dos botões.
$button-padding: 0 px-to-em($list: 18.288px) !default;
// Define o efeito de capitalização de texto dos botões.
$button-text-transform: uppercase !default;

// Define a margem direita de ícones dos botões.
$button--icon-margin-right: px-to-em($list: 9.15px) !default;
// Define a margem esquerda de ícones dos botões.
$button--icon-margin-left: px-to-em($list: -4.58px) !default;

// Cartão

// Define a cor de fundo dos cartões.
$card-background-color: var(--theme-main-card, get-main-theme-color($prop-name: card)) !default;
// Define a borda dos cartões.
$card-border: 1px solid !default;
// Define a cor de borda dos cartões.
$card-border-color: var(--theme-main-dividers, get-main-theme-color($prop-name: dividers)) !default;
// Define o raio de borda dos cartões.
$card-border-radius: px-to-rem($list: 5px) !default;

// Define a margem da seção de cabeçalho do cartão.
$card--header-margin: 0 !default;
// Define a margem da seção de cabeçalho do cartão.
$card--header-padding: px-to-rem($list: 16px) !default;

// Define o fundo da seção de mídia do cartão.
$card--media-background: black no-repeat top center !default;

// Define a altura máxima da imagem da seção de mídia do cartão.
$card--media--image-max-height: px-to-rem($list: 550px) !default;

// Define a margem da seção de conteúdo do cartão.
$card--content-margin: 0 !default;
// Define o preenchimento da seção de conteúdo do cartão.
$card--content-padding: px-to-rem($list: 16px) !default;

// Define a margem da seção de ação do cartão.
$card--action-margin: 0 !default;
// Define o preenchimento da seção de ação do cartão.
$card--action-padding: px-to-rem($list: 8px) !default;

// Contêiner

// Define o preenchimento dos contêineres.
$container-padding: px-to-rem($list: 0 15px) !default;

// Dropdown

// Define a margem do dropdown com o pseudo-elemento "before".
$dropdown-pseudo-before-margin: px-to-em($list: -2px 5px 0 0) !default;
// Define o tamanho do dropdown com o pseudo-elemento "before".
$dropdown-pseudo-before-size: px-to-em($list: 5px) !default;
// Define a borda do dropdown com o pseudo-elemento "before".
$dropdown-pseudo-before-border: px-to-rem($list: 1px) solid !default;
// Define a borda do dropdown com o pseudo-elemento "before".
$dropdown-pseudo-before-border-color: inherit !default;
// Define a transformação do dropdown com o pseudo-elemento "before".
$dropdown-pseudo-before-transform: rotate(-45deg) !default;

// Define a transformação do dropdown com variante "active" e pseudo-elemento "before".
$dropdown_active-pseudo-before-transform: rotate(135deg) !default;

// Flexbox

// Define o preenchimento de uma coluna do flexbox.
$flex-column-padding: px-to-rem($list: 0 15px) !default;
// Define o número máximo de colunas do flexbox.
$flex-columns: 12 !default;
// Define a margem das linhas do flexbox.
$flex-row-margin: px-to-rem($list: 0 -15px) !default;

// Define a largura base da coluna do flexbox.
$flex-base-column-width: 0% + 100 / $flex-columns !default;

// Fonte

// Define o caminho ou endereço URL da fonte "Roboto".
$font-roboto-path-or-address: "../fonts" !default;

// Gaveta de navegação

// Define a cor de fundo da gaveta de navegação.
$navigation-drawer-background-color: var(--theme-main-card, get-main-theme-color($prop-name: card)) !default;
// Define a largura da gaveta de navegação.
$navigation-drawer-width: px-to-rem($list: 300px) !default;

// Input

// Define a cor da borda do input "generic".
$input_generic-border-color: var(--theme-main-secondary, get-main-theme-color($prop-name: secondary)) !default;
// Define a cor da fonte do input "generic".
$input_generic-color: var(--theme-main-secondary, get-main-theme-color($prop-name: secondary)) !default;
// Define a espessura de fonte do input "generic".
$input_generic-font-weight: map-get($map: $typography-font-weights, $key: medium) !default;

// Define a cor de fundo do campo de input "generic".
$input_generic--field-background-color: transparent !default;
// Define a borda inferior do campo de input "generic".
$input_generic--field-border-bottom: px-to-rem($list: 2px) solid !default;
// Define o preenchimento do campo de input "generic".
$input_generic--field-padding: px-to-em($list: 16px 5px 12px 5px) !default;
// Define a cor do campo de input "generic" com a pseudo-classe "focus".
$input_generic--field-pseudo-focus-color: var(--theme-main-primary, get-main-theme-color($prop-name: primary)) !default;
// Define a cor da borda do campo de input "generic" com a pseudo-classe "focus".
$input_generic--field-pseudo-focus-border-color: var(--theme-color-500, get-featured-theme-color()) !default;
// Define o topo do rótulo de input "generic".
$input_generic--label-top: px-to-em($list: 16px) !default;
// Define a esquerda do rótulo de input "generic".
$input_generic--label-left: px-to-em($list: 5px) !default;

// Define a cor do rótulo do campo de input com a pseudo-classe "focus".
$input--field-label-pseudo-focus-color: var(--theme-color-500, get-featured-theme-color()) !default;

// Define o raio de borda do campo de input com variante "outlined".
$input--field_outlined-border-radius: px-to-em($list: 5px) !default;

// Define a transformação da ativação do rótulo do input.
$input--label_active-transform: translate(-15%, px-to-em($list: -16px)) scale(.7) !default;

// Lista

// Define a margem da lista.
$list-margin: 0 !default;
// Define o preenchimento da lista.
$list-padding: px-to-rem($list: 8px 0) !default;

// Define o preenchimento da lista acolchada.
$list_padded-padding: px-to-rem($list: 8px) !default;

// Define o raio de borda do item da lista acolchada.
$list_padded--item-border-radius: px-to-rem($list: 5px) !default;

// Define a cor dos itens da lista.
$list--item-color: var(--theme-main-primary, get-main-theme-color($prop-name: primary)) !default;
// Define o preenchimento dos itens da lista.
$list--item-padding: px-to-em($list: 16px) !default;

// Define a margem direita de ícones da lista.
$list--icon-margin-right: px-to-em($list: 9.15px) !default;
// Define a margem esquerda de ícones da lista.
$list--icon-margin-left: px-to-em($list: -4.58px) !default;

// Menu

// Define a cor de fundo do menu.
$menu-background-color: var(--theme-main-card, get-main-theme-color($prop-name: card)) !default;
// Define o raio de borda do menu.
$menu-border-radius: px-to-rem($list: 2px) !default;
// Define a margem do menu.
$menu-margin: 0 !default;
// Define a largura máxima do menu.
$menu-max-width: calc(100vw - #{px-to-rem($list: 32px)}) !default;
// Define a altura máxima do menu.
$menu-max-height: calc(100vh - #{px-to-rem($list: 32px)}) !default;
// Define a largura mínima do menu.
$menu-min-width: px-to-rem($list: 170px) !default;

// Overlay

// Define a cor de fundo do overlay.
$overlay-background-color: rgba(0, 0, 0, .5) !default;

// Toast

// Define a cor de fundo do toast.
$toast-background-color: #323232 !default;
// Define a cor do toast.
$toast-color: white !default;
// Define o tamanho da fonte do toast.
$toast-font-size: px-to-rem($list: 14px) !default;
// Define a margem do toast.
$toast-margin: 0 !default;
// Define o espaçamento do toast.
$toast-padding: 0 !default;
// Define a transformação do toast.
$toast-transform: translate(0, 250%) !default;
// Define a transição do toast.
$toast-transition: transform .25s 0ms cubic-bezier(0.4, 0, 1, 1) !default;

// Define a transformação do toast com variante "active".
$toast_active-transform: translate(0) !default;
// Define a transição do toast com variante "active".
$toast_active-transition: transform .25s 0ms cubic-bezier(0, 0, 0.2, 1) !default;

// Define a margem do toast com media query.
$toast-media-margin: px-to-rem($list: 0 0 0 20px) !default;
// Define a margem inferior do toast com media query.
$toast-media-margin-bottom: px-to-rem($list: 20px) !default;
// Define a largura mínima do toast com media query.
$toast-media-min-width: px-to-rem($list: 300px) !default;
// Define a largura máxima do toast com media query.
$toast-media-max-width: px-to-rem($list: 500px) !default;
// Define o raio de borda do toast com media query.
$toast-media-border-radius: px-to-rem($list: 3px) !default;

// Define a margem do ícone do toast.
$toast--icon-margin: px-to-rem($list: 0 0 0 16px) !default;

// Define a margem do conteúdo do toast.
$toast--content-margin: 0 !default;
// Define o espaçamento do conteúdo do toast.
$toast--content-padding: px-to-rem($list: 16px 26px) !default;

// Define a margem da mensagem do conteúdo do toast.
$toast--content--message-margin: 0 !default;

// Define a opacidade da mensagem, com variante "secondary", do conteúdo do toast.
$toast--content--message_secondary-opacity: .9 !default;

// Define a espessura da fonte do título do conteúdo do toast.
$toast--content--title-font-weight: map-get($map: $typography-font-weights, $key: medium) !default;
// Define a margem do título do conteúdo do toast.
$toast--content--title-margin: 0 !default;

// Z-index

$z-index-card-media-area: 10 !default;
$z-index-toolbar: 40 !default;
$z-index-overlay: 50 !default;
$z-index-navigation-drawer: 60 !default;
$z-index-dialog: 70 !default;
$z-index-menu: 80 !default;
$z-index-toaster: 90 !default;

// Global file
//
// Esta seção vem por último para uso das funções que necessitam de variáveis acima.

// Define a cor dos elementos de âncora.
$global-anchor-color: var(--theme-color-500, get-featured-theme-color()) !default;
// Define a cor dos elementos de âncora com as pseudo-classes "hover" ou "active".
$global-anchor-hover-color: var(--theme-color-300, get-featured-theme-color($hue: 300)) !default;
// Define a decoração de texto dos elementos de âncora.
$global-anchor-text-decoration: none !default;

// Define a cor da seleção dos elementos.
$global-selection-color: white !default;
// Define a cor de fundo da seleção dos elementos.
$global-selection-background-color: var(--theme-color-A400, get-accent-theme-color()) !default;
