@use "sass:map";
@use "./palette";
@use "./theme";
@use "../helpers/functions" as func;

@each $name, $props in theme.$main {

  @include theme.create("main", $name, $props);
}

/// Define as cores dos temas de destaque e realçe.
/// Para remover uma cor da paleta, use: map.remove(palette.$colors, "transparent").
$-theme-colors: palette.$colors;

@each $color-name, $color-hues in $-theme-colors {

  $featured-hues: map.remove($color-hues, palette.$accent-color-hues...);

  @include theme.create("featured", $color-name, $featured-hues);

  $accent-hues: func.get-in-map($color-hues, palette.$accent-color-hues...);

  @include theme.create("accent", $color-name, $accent-hues);
}
